*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
scroll-behavior:smooth;
}

body{
background:#0b2545;
color:white;
line-height:1.6;
}

/* container */

.container{
width:90%;
max-width:1100px;
margin:auto;
padding:60px 0;
}

/* header */

header{
background:#061a33;
position:sticky;
top:0;
z-index:1000;
}

/* nav */

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 0;
}

nav ul{
display:flex;
list-style:none;
gap:25px;
}

nav a{
color:white;
text-decoration:none;
font-weight:bold;
transition:0.3s;
position:relative;
}

/* navbar animation */

nav a::after{
content:"";
position:absolute;
width:0%;
height:2px;
background:#38bdf8;
left:0;
bottom:-5px;
transition:0.3s;
}

nav a:hover::after{
width:100%;
}

nav a:hover{
color:#38bdf8;
transform:translateY(-2px);
}

nav a:active{
transform:scale(0.9);
}

/* logo */

.logo a{
color:#38bdf8;
font-size:22px;
text-decoration:none;
}

/* hero */

.hero{
height:70vh;
display:flex;
flex-direction:column;
justify-content:center;
animation:fadeUp 1s ease;
}

.hero span{
color:#38bdf8;
}

.hero h1{
font-size:40px;
margin-bottom:10px;
}

.hero h2{
margin-bottom:10px;
color:#94a3b8;
}

/* buttons */

.btn{
background:#38bdf8;
padding:10px 22px;
border-radius:6px;
text-decoration:none;
color:white;
margin-right:10px;
transition:0.3s;
display:inline-block;
}

.btn:hover{
transform:scale(1.1);
background:#0ea5e9;
box-shadow:0 0 10px #38bdf8;
}

/* titles */

.title{
text-align:center;
margin-bottom:40px;
font-size:28px;
}

/* skills */

.skills{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
}

.skill{
background:#123055;
padding:25px;
text-align:center;
border-radius:10px;
transition:0.3s;
cursor:pointer;
}

.skill:hover{
transform:translateY(-10px);
background:#1e4b7a;
box-shadow:0 10px 20px rgba(0,0,0,0.4);
}

/* projects */

.projects{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.project{
background:#123055;
padding:25px;
border-radius:10px;
transition:0.3s;
}

.project:hover{
transform:translateY(-10px) scale(1.03);
background:#1e4b7a;
box-shadow:0 10px 25px rgba(0,0,0,0.5);
}

.project a{
display:inline-block;
margin-top:10px;
color:#38bdf8;
text-decoration:none;
}

/* contact */

#contact p{
text-align:center;
margin-bottom:10px;
font-size:18px;
}

#contact a{
color:#38bdf8;
text-decoration:none;
font-weight:bold;
}

#contact a:hover{
text-decoration:underline;
}

/* animation */

@keyframes fadeUp{

from{
opacity:0;
transform:translateY(40px);
}

to{
opacity:1;
transform:translateY(0);
}

}